<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
</head>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.958.0.min.js"></script>
<script>
  AWS.config.update({
    accessKeyId: 'AKIAZSYJOJEMWQ7JOP6H',
    secretAccessKey: '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',
    region: 'us-east-1',
  });

</script>

<body>
    
<!-- navbar starts  -->
<div id="app">
  <Navbar></Navbar>
<!-- navbar ends  -->

<h1 class = "m-5 "> Welcome to Savood {{userNameSession}}! </h1>


<div class="container mt-5">

  <div id="toggle">
    <button @click="toggleCurrent" class="btn btn-primary mx-1">Current Posts</button>
    <button @click="toggleNew" class="btn btn-success mx-1">Create New Post</button>
    <button @click="toggleHistory" class="btn btn-warning mx-1">Past Posts</button>
  

    <!-- Current Delivery -->
    <div class="mt-3 mx-auto" v-show="showCurrent">
      <h3>Current Posts</h3>
      <h5 v-if="current_order_message" class="text-center">{{current_order_message}}</h5>
      <div class="card d-flex mx-auto mb-3" v-for="current_order of current_orders" v-if="current_orders">
        <div class="card-header">
          Order #{{current_order.order_id}}
        </div>
        <div class="row">
          <div class="col-3 d-flex">
            <img :src="current_order.img_url ? current_order.img_url : './img/empty.png'" class="img-fluid">
          </div>
          <div class="col-9">
          <div class="card-body">
            <div class="row">
                <div class="col"><p class="card-text">{{current_order.dish_name}}</p></div>
                <div class="col" style="text-align: right; color: orange;"><h5>{{current_order.status}}</h5></div> 
            </div>

            <br>

            <div class="row">
              <div class="col"><h5 class="card-title">Foodbank: {{current_order.foodbank_name ? current_order.foodbank_name : 'No foodbank yet'}}</h5></div>
              <div class="col" style="text-align: left;"><h5>Driver: {{current_order.driver_name ? current_order.driver_name : 'No driver yet'}}</h5></div> 
              <div class="col" style="text-align: right;">Order Created {{current_order.created_at}}</div> 
            </div>
            <div class="row">
              <div class="col"><p class="card-text">{{current_order.foodbank_address}}</div>
              <div class="col" style="text-align: left;"></div> 
              <div class="col" style="text-align: right;"></div> 
            </div>
            <div class="row">
              <div class="col"><p class="card-text">{{current_order.foodbank_phone_number}}</p></div>
              <div class="col" style="text-align: left;">{{current_order.driver_phone_number}}</div> 
              <div class="col" style="text-align: right;"></div> 
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Create New Post -->
    <div class="mt-3" v-show="showNew">
      <h3>Create New Post</h3>
        <div class="row mb-3 mx-auto">
            <label for="dishName" class="col-sm-2 col-form-label">Dish Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="dishName" v-model="dish_name">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success" @click="submitNewDish" :disabled="dish_name == ''">Post</button>
            </div>
        </div>
        <div class="row mb-3 mx-auto">
          <label for="dishImage" class="col-sm-2 col-form-label">Dish Image</label>
          <div class="col-sm-4">
            <input type="file" class="form-control" id="dishImage" ref="dishImage" accept="image/*">
          </div>
        </div>
    </div>
    
    <!-- History -->
    <div class="mt-3" v-show="showHistory">
      <div id="main-container" class="container">
        <h3>Past Posts</h3>
        <h5 v-if="previous_order_message" class="text-center">{{previous_order_message}}</h5>
        <table v-if="previous_orders" class='table table-striped border-1'>
            <thead class='table-dark'>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Foodbank Name</th>
                    <th>Dish Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="orderTable">
                <tr v-for="previous_order of previous_orders">
                <th>{{previous_order.order_id}}</th>
                <td>{{previous_order.created_at}}</td>
                <td>{{previous_order.foodbank_name}}</td>
                <td>{{previous_order.dish_name}}</td>
                <td>{{previous_order.status}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!--If the footer component fails, insert here-->
<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top text-center">
    <p class="text-muted">Savood © 2023</p>
  </footer>
</div>
</div>


<!-- <script src="app.js"></script> -->

</body>

<script>
  const ORDER_MANAGEMENT_URL = "http://localhost:5004"
  const POST_SURPLUS_URL = "http://localhost:5007"
  const app = Vue.createApp({
      data() {
        return {
          userId: null,
          userType: null,
          userNameSession: null,
          message: null,
          showCurrent: true,
          showNew: false,
          showHistory: false,
          
          //add new dish
          dish_name: '',

          //previous postings:
          previous_orders: null,
          previous_order_message: null,

          //current postings
          current_orders: null,
          current_order_message: null
        };
      },
      methods: {
        toggleCurrent() {
          this.showCurrent = true;
          this.showNew = false;
          this.showHistory = false;
          this.loadListings()
        },

        toggleNew() {
          this.showCurrent = false;
          this.showNew = true;
          this.showHistory = false;
        },

        toggleHistory() {
          this.showCurrent = false;
          this.showNew = false;
          this.showHistory = true;
          this.get_previous_postings();
        },

        async uploadImage() {
          const file = this.$refs.dishImage.files[0];
          if (!file) {
            return null;
          }

          const fileType = file.type;
          const folder = 'images/' + this.userId + '/';
          const fileName = encodeURIComponent(file.name).replace(/'/g, "%27").replace(/"/g, "%22");
          const filePath = folder + fileName;

          const s3 = new AWS.S3();

          const params = {
            Bucket: 'savood-img-storage',
            Key: filePath,
            Body: file,
            ContentType: fileType,
            ACL: 'public-read'
          };

          try {
            const data = await s3.upload(params).promise();
            return data.Location;
          } catch (error) {
            console.error('Error uploading image:', error);
            return null;
          }
          },

        async submitNewDish() {
          try {
            const imageUrl = await this.uploadImage();
            const response = await fetch(`${POST_SURPLUS_URL}/post_food`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    restaurant_id: this.userId,
                    dish_name: this.dish_name,
                    img_url: imageUrl
                })
            });

            console.log(imageUrl)
            const data = await response.json();
            console.log(data)
            

            } catch (error) {
                this.message = error.message;
            }

            this.$refs.dishImage.value = ''; 

            this.toggleCurrent();
        },

        async get_previous_postings(){
          try{
            const response = await fetch(`${ORDER_MANAGEMENT_URL}/get_previous_postings/${this.userId}`, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              }
            });

            const result = await response.json()
            console.log(result)
            if(result.code == 200){
              this.previous_orders = result.data.orders
              this.previous_order_message = null
              console.log(this.previous_orders)
            } else if (result.code == 404) {
              this.previous_order_message = result.message
              this.previous_orders = null
              console.log(this.previous_orders)
            } else {
              this.previous_orders = null
              this.previous_order_message = 'Unknown error occured'
            }
            
          } catch (error) {
            console.log('error retrieving past orders')
          }
        },

        async loadListings() {
          try {
              const response = await fetch(`${ORDER_MANAGEMENT_URL}/get_non_done_postings/${this.userId}`, {
                  method: 'GET',
                  headers: {
                      'Content-Type': 'application/json'
                  }
              });
              const result = await response.json()
              if(result.code == 200){
                this.current_orders = result.data.orders
                this.current_order_message = null
                console.log(this.current_orders)
              } else if (result.code == 404) {
                this.current_orders = []
                this.current_order_message = 'No active postings'
              } else {
                this.current_order_message = 'Unknown error occured. Cannot load current postings'
              }
          } catch (error) {
              this.message = error.message;
          }

          
        }},

      created() {
        const saveduserId = localStorage.getItem('userId');
        const saveduserType = localStorage.getItem('userType');
        const saveduserNameSession = localStorage.getItem('userNameSession')
        if (saveduserId) {
            this.userId = parseInt(saveduserId);
        }
        this.userType = saveduserType
        this.userNameSession = saveduserNameSession
        console.log(this.userId, this.userType, this.userNameSession)
        if (!this.userId && this.userType != 'restaurant'){
          window.location.href = './signUp.html'
        }

        this.toggleCurrent()
      }
    });
  </script>

<script src="./UI_COMPONENTS/Navbar.js"></script>

<script>app.mount('#app');</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</html>

